---
import Layout from "../layouts/Layout.astro";
import { CommentAPI } from '../data/comment_api';
const commentAPI = new CommentAPI();
// Fetch comments on server side for initial render
const comments = await commentAPI.fetchComments();
---

<Layout title="A-ha Fan Site">
    <main>
        <h1>A-ha Fan Site</hjson>
        <p>Take on Meme</p>
        <div x-data="{ comments: [], comment: '', name: '', init() {
            fetch('/api/comments/')
              .then(response => response.json())
              .then(data => {
                this.comments = data;
              });
          }}" x-init="init()" class="news-form">
            <form hx-post="/api/comments/" hx-target="#comments-list" hx-swap="beforeend">
                <input type="text" x-model="name" name="name" placeholder="Your Name">
                <textarea x-model="comment" name="comment" placeholder="Your Comment"></textarea>
                <button type="submit">Post Comment</button>
            </form>
            <ul id="comments-list">
                <template x-for="comment in comments">
                    <li x-text="`${comment.name}: ${comment.comment}`"></li>
                </template>
            </ul>
        </div>
    </main>
</Layout>
