---
import Layout from "../layouts/Layout.astro";
import Guestbook from '../components/Guestbook.astro';
import SongTable from "../components/SongTable.astro";
---

<Layout title="#1 a-ha fan site">
    <main x-data="{ activeTab: 'guestbook' }">
        <marquee><h1>#1 a-ha fan site</h1></marquee>
        <img id="band-photo" src="/aha-band-photo.jpg" alt="a-ha" />
        <div>
            <button :class="{ 'active': activeTab === 'guestbook' }" @click="activeTab = 'guestbook'">Guestbook</button>
            <button :class="{ 'active': activeTab === 'songs' }" @click="activeTab = 'songs'">Song Search</button>
        </div>
        <div x-show="activeTab === 'guestbook'">
            <Guestbook />
        </div>
        <div x-show="activeTab === 'songs'">
            <SongTable />
        </div>
    </main>
</Layout>

<style>
    #band-photo {
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
        display: block;
        padding: 1rem;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
        padding: 10px 20px;
        border: 1px solid #ccc;
        background-color: #f4f4f4;
        cursor: pointer;
        margin-right: 5px;
    }
    button.active {
        background-color: #ddd;
    }
</style>